In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [14]:
bitcoin=pd.read_csv('BTC-EUR.csv',index_col='Date',parse_dates=True)

In [15]:
bitcoin.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,359.546204,361.468506,351.586884,355.957367,355.957367,16389166
2014-09-18,355.588409,355.505402,319.789459,328.539368,328.539368,26691849
2014-09-19,328.278503,330.936707,298.921021,307.761139,307.761139,29560103
2014-09-20,307.665253,329.978180,303.931244,318.758972,318.758972,28736826
2014-09-21,318.120514,321.504517,306.502197,310.632446,310.632446,20702625

In [33]:
bitcoin.loc['2020','Close'].resample('M')

TypeError: no numeric data to plot